<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin page</title>
</head>

<body>
<table>
    <div th:fragment="blackheader">
        <div class="d-flex text-white">
            <div class="p-2 w-100 bg-dark fs-5">
                <b>[[${#authentication.getPrincipal().getUsername()}]]</b>
                with roles: [[${#authentication.getPrincipal().authorities}]]
            </div>
            <div class="p-2 bg-dark">
                <a class="text-secondary text-decoration-none pe-3" href="/logout">Logout</a>
            </div>
        </div>
    </div>
    <div fragment="leftPanel">
        <td class="navbar" style="width: 200px;">
            <nav class="nav nav-pills w-100">
                <a class="nav-link active w-100" href="/admin">Admin</a>
                <a class="nav-link w-100" href="/user">User</a>
            </nav>
        </td>
    </div>

    <td class="bg-light w-100 px-3 pb-2">
        <p class="fs-1"><b>Admin panel</b></p>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#showAll">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/new">New User</a>
            </li>
        </ul>
        <div class="fs-4 p-2 fw-bold border-end border-start">All users</div>
        <div class="border-1 p-3 bg-white border border-1">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Roles</th>
                    <th class="text-center">Operations</th>
                </tr>
                <tr th:each="user: ${users}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getName()}"></td>
                    <td th:text="${user.getLastName()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td th:text="${user.getUserName()}"></td>
                    <td th:text="${user.getRoles()}"></td>
                    <td style="width: 180px">
                        <button type="button" class="btn btn-info btn-sm text-white"  data-toggle="modal"
                                th:data-target="|#edit${user.getId()}|">Edit
                        </button>
                        <div class="modal fade" th:id="|edit${user.getId()}|" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                             aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form class="container form-horizontal" th:method="PUT" th:action="@{admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit user</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div align="center">
                                                <div class="col-sm fw-bold" style="max-width: 350px;">
                                                    ID
                                                    <input th:value="*{id}" name="id" type="text" readonly class="form-control"/>
                                                    First name
                                                    <input th:value="*{name}" name="name" type="text" class="form-control" placeholder="First name"/>
                                                    Last name
                                                    <input th:value="*{lastName}" name="lastName" type="text" class="form-control" placeholder="Last name"/>
                                                    Email
                                                    <input th:value="*{email}" name="email" type="email" class="form-control" placeholder="Email"/>
                                                    Username
                                                    <input th:value="*{userName}" name="userName" type="text" class="form-control" placeholder="username"/>
                                                    Password
                                                    <input th:value="*{password}" name="password" type="password" class="form-control" placeholder="Password"/>
                                                    Roles
                                                    <select class="form-control w-100 px-2 py-1" style="height: 52px;" multiple name="roles">
                                                        <option th:each="role : ${roles}" th:value="${role.getId()}"
                                                                th:selected="${user.getRoles().contains(role)}"
                                                                th:text=" ${#strings.replace(role.getRoleName(),'ROLE_','')}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-info">Edit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                th:data-target="|#deleteUser${user.getId()}|">Delete
                        </button>
                        <div class="modal fade" th:id="|deleteUser${user.getId()}|"
                             data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                             aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form class="container form-horizontal" th:method="DELETE" th:action="@{/admin/delete/{id}(id=${user.getId()})}" th:object="${user}">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete user</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div align="center">
                                                <div class="col-sm fw-bold" style="max-width: 350px;">
                                                    ID
                                                    <input th:value="*{id}" type="text" class="form-control" disabled/>
                                                    First name
                                                    <input th:value="*{name}" type="text" class="form-control" disabled/>
                                                    Last name
                                                    <input th:value="*{lastName}" type="text" class="form-control" disabled/>
                                                    Email
                                                    <input th:value="*{email}" type="email" class="form-control" disabled/>
                                                    Username
                                                    <input th:value="*{userName}" type="text" class="form-control" disabled/>
                                                    Roles
                                                    <select class="form-control w-100 px-2 py-1" style="height: 52px;" multiple name="roles">
                                                        <option th:each="role : ${user.getRoles()}" th:value="${role.id}"
                                                                th:text=" ${#strings.replace(role.roleName,'ROLE_','')}"
                                                                disabled>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>


</table>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
